.pageTitle {
    font-size  : 2.6rem;
    font-weight: 400;
}

.subPageTitle {
    font-size  : 2rem;
    font-weight: 400;
}

.info_user {
    margin-top : 3rem;
    display    : flex;
    flex-flow  : column;
    width      : 100%;
    align-items: flex-start;
}

.information {
    font-size: 1.2rem;
}

input[type="text"] {
    border       : 1px solid #555;
    border-radius: 2px;
    background   : rgba(48, 47, 45, .9);
    padding      : 6px 15px;
    font-size    : 1rem;
    margin       : 7px auto;
    color        : #ccc;
}

input[type="password"] {
    border       : 1px solid #555;
    border-radius: 2px;
    background   : rgba(48, 47, 45, .9);
    padding      : 6px 15px;
    font-size    : 1rem;
    margin       : 7px auto;
    color        : #ccc;
}

.signupbtn {
    border       : 0;
    background   : #f90;
    color        : #000;
    border-radius: 5px;
    padding      : 5px 1rem;
    margin       : 10px auto 25px;
    font-size    : 1.2rem;
    font-weight  : 700;
}

.myArticles {
    display  : flex;
    flex-flow: column;
    width    : 100%;
}


table {
    border          : 3px solid #222;
    background-color: #1c1c1c;
    color           : #cccccc;
    margin-top      : 10%;
    width           : 100%;
}

thead {
    background-color: #1c1c1c;
    font-size       : 1.5rem;
}

tbody {
    background-color: #101010;
    font-size       : 1.2rem;
}

td {
    padding: 8px;
}

a {
    color          : #ff9000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline #ff9000;
}

.Newpost_submit {
    border       : none;
    border-radius: 4px;
    padding      : 5px;
    background   : #363636;
    color        : #acacac;
    font-weight  : 700;
    width        : 100%;
}

button[name="addFav"] {
    border       : none;
    border-radius: 4px;
    padding      : 5px;
    background   : #f90;
    color        : #000;
    font-weight  : 700;
    width        : 100%;
}

button[name="delFav"] {
    border       : none;
    border-radius: 4px;
    padding      : 5px;
    background   : #363636;
    color        : #acacac;
    font-weight  : 700;
    width        : 100%;
}