html,

body {
    background-color: #000000;
    font-family     : Arial, Helvetica, sans-serif;
}

.navbar {
    display         : flex;
    height          : 3rem;
    width           : 100%;
    position        : fixed;
    top             : 0;
    left            : 0;
    background-color: #1b1b1b;
    justify-content : space-around;
    align-items     : center;
    border-radius   : 0px 0px 5px 5px;

}

.navbar a {
    text-decoration: none;
    font-size      : 1.3rem;
    color          : #f9f9f9;

}

.navbar a:hover {
    text-decoration : underline #ff9000;
    background-color: #181818;
}

input[type=text] {
    border          : none;
    border-radius   : 5px;
    color           : #cacaca;
    background-color: #363636;
    font-style      : italic;
}

input[type=submit] {
    border       : none;
    border-radius: 5px;
    background   : #f90;
    color        : #000;
}