html,
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke; 
    background-color : #232323;
    background-image: url("https://i.pinimg.com/originals/47/0a/19/470a19a36904fe200610cc1f41eb00d9.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1;
}

* {
  margin: 0;
}


/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Navbar style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/
.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    margin-bottom: 6vh;
    
} 

#forum_tittle{
    margin-left: 1vw;
} 

#forum_tittle a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 60px;
    font-weight: 200;
}

/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Content style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/

.connexion {
    font-family: 'Lobster', cursive;
    font-weight: 500;
    background-color: rgb(0,0,0, 0.8);
    box-shadow: 0 0 20px 0 rgb(255, 255, 255);
    border-radius: 40px;
    width: 50vw;
    color: whitesmoke;
    z-index: 1;
    position: relative;
    top: -2%;
    left: 25%;
}

.L-Title h1{
    font-size: 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.padding {
    padding: 17px;
}

.loginForm label {
    font-size:20px ;
}

.loginForm input {
    margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid whitesmoke;
	border-radius:20px;
	display:inline-block;
}


.LOGIN {
    background-color: rgb(233, 89, 89);
    font-family: 'Lobster', cursive;
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
    color: whitesmoke;
    padding: 14px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 1.5vh;
}

.LOGIN:hover {
    background-color: rgb(255, 231, 17);
    color: rgb(219, 65, 38);
    border-radius: 50px;
}
.REGISTER {
    text-decoration: none;
    background-color: rgb(147, 63, 252);
    font-family: 'Lobster', cursive;
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
    color: whitesmoke;
    padding: 14px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 1.5vh;
}

.REGISTER:hover {
    background-color: rgb(233, 89, 89);
    color: whitesmoke;
    border-radius: 50px;
}

.otherconnexion {
    justify-content: space-between;
}

.otherco p {
    font-size: 20px;
}
.O-inscription p {
    font-size: 20px;

}

/*----------------Scrollbar-----------------*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border: 1px solid #232323;
    box-shadow: 0 0 10px 0 rgb(255 255 255);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    height: 12px;
    background-color: rgb(147, 63, 252);
    border-radius: 10px;
}
/*------------------------------------------*/