html,
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke; 
    background-color : #232323;
    background-image: url("https://i.pinimg.com/originals/47/0a/19/470a19a36904fe200610cc1f41eb00d9.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1;
}

* {
  margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Navbar style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/

.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    margin-bottom: 6vh;
    
} 

#forum_tittle a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 60px;
    font-weight: 200;
}


/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Post style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/
.M-Title {
    font-family: 'Lobster', cursive;
    font-weight: 500;
    font-size: 25px;
    margin-top: -2vh;
    margin-bottom: 4vh;
}

.bg {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 4vw;
    grid-row-gap: 5vh;
}


.card__post {
    color: whitesmoke;
    background-color: rgb(0,0,0,0.8);
    box-shadow:0 0 12px 0 rgb(255 255 255);
    width: 100%;
    border-radius: 40px;
}

.card__post .avatar img {
    width: 32px;
    border: solid 2px black;
    border-radius: 20px;
}

.cardPost {
    padding: 20px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vh;
    border-bottom: 1px solid;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_post{
    margin-left: 1vh;
}

.user_post p {
    text-transform: capitalize;
    font-weight: bold;
}

.date_heure_post {
    margin-left: 3vw;
}

.post_ {
    text-align: justify;
    overflow-wrap: anywhere;
}

.categorie_post{
    margin-top: 1vh;
}

.C-post{
    border: 1px solid;
    border-radius: 20px;
    padding: 2px;
    text-align: center;
    font-weight: bold;
}

.formcheck{
    justify-content: space-evenly;
}
.btn-sup {
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-left: 1.5vw;
}

.btn-sup:hover {
    border: 1px solid rgb(0,0,0, 0.8);
    box-shadow: 0 0 10px 0 rgb(255 255 255);
}


.returnbtn a {
    color: whitesmoke;
    text-decoration: none;
}

.returnbtn {
    background-color: rgb(219, 65, 38);
    font-family: 'Lobster', cursive;
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
    padding: 12px 50px;
    font-size: 25px;
    cursor: pointer;
    width: 10%;
}

.returnbtn:hover {
    background-color: rgb(147, 63, 252);
    color: whitesmoke;
    box-shadow: 0 0 10px 0 rgb(255 255 255);
}


/*----------------Scrollbar-----------------*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border: 1px solid #232323;
    box-shadow: 0 0 10px 0 rgb(255 255 255);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    height: 12px;
    background-color: rgb(147, 63, 252);
    border-radius: 10px;
}
/*------------------------------------------*/