html,
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke; 
    background-color : #232323;
    background-image: url("https://i.pinimg.com/originals/47/0a/19/470a19a36904fe200610cc1f41eb00d9.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1;
}

* {
  margin: 0;
}

/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Navbar style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/
.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lobster', cursive;
    margin-bottom: 6vh;
    
} 

#forum_tittle{
    margin-left: 1vw;
} 
#forum_tittle {
    font-size: 25px;
}

#forum_tittle a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 35px;
    font-weight: 900;
} 

#menu {
    display: flex;
    align-items: center;
}

#menu a {
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    font-size: 22px;
    cursor: pointer;
}

#menu a:hover {
    color: tomato;
}
.Deconnexion {
    font-family: 'Lobster', cursive;
    background: none;
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
    color: whitesmoke;
    padding: 20px;
    font-size: 22px;
    cursor: pointer;
    margin-left: 1vw;
}

.Deconnexion:hover {
    background-color: rgb(255, 231, 17);
    color: rgb(219, 65, 38);
    border-radius: 50px;
}


.Inscription {
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
}

.Inscription:hover {
    background-color: rgb(255, 231, 17);
    color: rgb(219, 65, 38);
    border-radius: 50px;
}

/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Content style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/

.new__post {
    font-family: 'Lobster', cursive;
    font-weight: 500;
    background-color: rgb(0,0,0, 0.8);
    box-shadow: 0 0 20px 0 rgb(255, 255, 255);
    border-radius: 40px;
    width: 50vw;
    color: whitesmoke;
    z-index: 1;
    position: relative;
    top: -2%;
    left: 25%;
}

.N-title h1{
    font-size: 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.padding {
    padding: 17px;
}

.NewpostForm label {
    font-size:20px ;
}

.NewpostForm input {
    margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid whitesmoke;
	border-radius:20px;
	display:inline-block;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.NewpostForm textarea {
    margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid whitesmoke;
	border-radius:20px;
	display:inline-block;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.NewpostForm select {   
    font-family: 'Lobster', cursive;
    font-size: 15px;
    width: 100%;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: 1.25em;
}

.categorie_newpost{
    margin-bottom: 2vh;
}

.obligation {
    text-align: center;
}

.btn-newpost{
    justify-content: space-around;
    align-items: baseline;
}

.Newpost_submit{
    background-color: rgb(233, 89, 89);
    font-family: 'Lobster', cursive;
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
    color: whitesmoke;
    padding: 14px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 1.5vh;
}

.Newpost_submit:hover {
    background-color: rgb(255, 231, 17);
    color: rgb(219, 65, 38);
    border-radius: 50px;
}

.RETOUR{
    background-color: rgb(147, 63, 252);
    font-family: 'Lobster', cursive;
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
    color: whitesmoke;
    text-decoration: none;
    padding: 14px;
    font-size: 20px;
    cursor: pointer;
}

.RETOUR:hover {
    background-color: rgb(255, 231, 17);
    color: rgb(219, 65, 38);
    border-radius: 50px;
}

/*----------------Scrollbar-----------------*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border: 1px solid #232323;
    box-shadow: 0 0 10px 0 rgb(255 255 255);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    height: 12px;
    background-color: rgb(147, 63, 252);
    border-radius: 10px;
}
/*------------------------------------------*/