html,
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
    color: whitesmoke; 
    background-color : #232323;
    background-image: url("https://i.pinimg.com/originals/47/0a/19/470a19a36904fe200610cc1f41eb00d9.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: 1;
}

* {
  margin: 0;
}

/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Navbar style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/

.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lobster', cursive;
    margin-bottom: 6vh;
    
} 

#forum_tittle{
    margin-left: 1vw;
} 
#forum_tittle {
    font-size: 25px;
}

#forum_tittle a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 35px;
    font-weight: 900;
} 

#menu {
    display: flex;
    align-items: center;
}

#menu a {
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    font-size: 22px;
    cursor: pointer;
}

#menu a:hover {
    color: tomato;
}
.Deconnexion {
    font-family: 'Lobster', cursive;
    background: none;
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
    color: whitesmoke;
    padding: 20px;
    font-size: 22px;
    cursor: pointer;
    margin-left: 1vw;
}

.Deconnexion:hover {
    background-color: rgb(255, 231, 17);
    color: rgb(219, 65, 38);
    border-radius: 50px;
}


.Inscription {
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
}

.Inscription:hover {
    background-color: rgb(255, 231, 17);
    color: rgb(219, 65, 38);
    border-radius: 50px;
}

/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Content style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/
.main_content {
    width: 90%;
    z-index: 1;
    position: relative;
    top: -5%;
    left: 5%;
}

.padding {
    padding: 25px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Post style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/

.post {
    background-color: #232323;
    box-shadow: 0 0 20px 0 rgb(255 255 255);
    border-radius: 40px;
    width: 70%;
    color: whitesmoke;
    z-index: 1;
    position: relative;
    top: -4%;
    left: 12%;
}

.left {
    width: 15%;
    border-right: solid 1px whitesmoke;
}

.right {
    width: 85%;
}

.img_user {
    margin-bottom: 1vh;
}
.img_user img {
    width: 80px;
    border: solid 2px whitesmoke;
    border-radius: 20px;
}

.user_name p {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}


.tittle_post h1 {
    margin-bottom: 2vh;
    border-top: solid 1px whitesmoke;
    border-bottom: solid 1px whitesmoke;
    padding: 12px;
}

.post_post {
    font-size: 24px;
    text-align: justify;
    margin-left: 2vw;
    margin-right: 3vw;
    margin-top: 1.5vh;
    margin-bottom: 2vh;
    overflow-wrap: anywhere ;
}

.categories_post{
    display: flex;
    justify-content: flex-start;
}

.categories_post p {
    border: 1px solid;
    border-radius: 20px;
    padding: 2px;
    text-align: center;
    margin-left: 2vw;
    width: 22%;
    font-family: 'Lobster';
    font-weight: 300;
    font-size: 18px;
}


.btn-like {
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.btn-like:hover {
    border: 1px solid rgb(0,0,0, 0.8);
    box-shadow: 0 0 10px 0 rgb(255 255 255);
}

.btn-dislike {
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-left: 1vw;
}

.btn-dislike:hover {
    border: 1px solid rgb(0,0,0, 0.8);
    box-shadow: 0 0 10px 0 rgb(255 255 255);
}


.btn-sup {
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-left: 1.5vw;
}

.btn-sup:hover {
    border: 1px solid rgb(0,0,0, 0.8);
    box-shadow: 0 0 10px 0 rgb(255 255 255);
}

.date_post{
    width: 20%;
    float: right;
}
.date_post_p {
    font-style:italic;
}


/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------Comment style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/

.comments {
    background-color: #232323;
    box-shadow: 0 0 10px 0 rgb(255 255 255);
    border-radius: 40px;
    width: 65%;
    color: whitesmoke;
    z-index: 1;
    position: relative;
    left: 11.5%;
    margin-left: 5vw;
    margin-top: 1vh;
}

.img_avatar_comment {
    margin-bottom: 1vh;
}
.img_avatar_comment img {
    width: 80px;
    border: solid 2px whitesmoke;
    border-radius: 20px;
}
.user_name_comment p {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}

.commentaire_user {
    font-size: 20px;
    text-align: justify;
    margin-left: 2vw;
    margin-right: 3vw;
    margin-top: 4vh;
    margin-bottom: 5vh;
    justify-content: flex-start;
}

.commentaire_user p{
    overflow-wrap: anywhere ;
}

.btn-comment {
    background-color: rgb(219, 65, 38);
    font-family: 'Lobster', cursive;
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
    color: whitesmoke;
    padding: 12px 50px;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 0.4vh;
    margin-left: 3vw;
    margin-top: 2vh;
}

.btn-comment:hover {
    background-color: rgb(147, 63, 252);
    color: whitesmoke;
    box-shadow: 0 0 10px 0 rgb(255 255 255);
}

.btn-supcom {
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-left: 1.5vw;
}

.btn-supcom:hover {
    border: 1px solid rgb(0,0,0, 0.8);
    box-shadow: 0 0 10px 0 rgb(255 255 255);
}

/* 
-----------------------------------------------------------------------------------------------------------------
---------------------------------------------TextArea style -------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------
*/

.AreaForm_Comment {
    font-weight: 500;
    background-color: rgb(0,0,0, 0.8);
    box-shadow: 0 0 10px 0 rgb(255 255 255);
    border-radius: 40px;
    width: 65%;
    color: whitesmoke;
    z-index: 1;
    position: relative;
    left: 11.5%;
    margin-left: 5vw;
    margin-top: 1vh;
    display: none;
}

.AreaForm_Comment textarea{ 
    margin:15px 0;
    padding:15px 10px;
    width:100%;
    outline:none;
    border:1px solid whitesmoke;
    border-radius:20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 16px;

}

.btn-rep-post {
    background-color: rgb(63, 66, 252);
    font-family: 'Lobster', cursive;
    border: solid 0.2px whitesmoke;
    border-radius: 50px;
    color: whitesmoke;
    padding: 12px 20px;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 0.4vh;
    margin-left: 3vh;
}

.btn-rep-post:hover {
    background-color: rgb(255, 231, 17);
    color: rgb(219, 65, 38);
    box-shadow: 0 0 10px 0 rgb(255 255 255);
}



/*----------------Scrollbar-----------------*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border: 1px solid #232323;
    box-shadow: 0 0 10px 0 rgb(255 255 255);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    height: 12px;
    background-color: rgb(147, 63, 252);
    border-radius: 10px;
}
/*------------------------------------------*/